img {
    float: right;
}

.jumbotron {
    padding: 10px;
}

.btn-secondary {
    background-color: #197fda;
}

.date {

    font-size: 25px;    
}

#search-term {
    
    width: 70%;
    display: inline;
}

#jumbo {
    
    padding: 20px;
}
